/deploy/az1peiz0zohkaijuyesi8bai9sohth0zoong6soodohdah7Oonge7phie9oa7edi3iey1oagah4ho7ko6looQueexaeyeeK9eij6eechie3ez2exagei0yiejojis2aghaij1EeX7EeveeP8Eiz5seiL2ooNgohdoothei1aes4cahzoo0.php
/deploy/deploy.log
/deploy/exec.log
/deploy/bootstrap.sh
#test